
<div class="container">
  <h2>Secret Sharing</h2>
  Mensaje Compartido: <input [(ngModel)]="mensajeCompartido" type="string" placeholder="Secret Shared" />
  <p *ngIf="errorsecretSharing" style="color: #ff0000">Debes escribir un Secreto</p>
  <p></p>
  Número de Claves: <input [(ngModel)]="keysShared" type="number"  placeholder="Numero de Claves"/>
  <p></p>
  Número de Claves Para Recuperar el Secreto <input [(ngModel)]="keysThreshold" type="number"  placeholder="Num claves recuperar secreto"/>
  <p></p>
  <p>
    <input class="btn btn-primary" type="submit" value="Secret Sharing" (click)="secretSharing()" />
  </p>
  <p *ngFor="let keyS of sharedSecretsKeys; index as i">
    Secret Key {{i+1}}: {{keyS}}
  </p>
  <h2>Escribe las claves para recuperar el secreto</h2>
  <p *ngFor="let key of [].constructor(keysThreshold); index as i">
    Recovery Key {{i + 1}}: <input [(ngModel)]="keysRecovery[i]" type="string" size="50"/>
   </p>
   <p>
    El Secreto Compartido es: {{secretRecovery}}
</p>
<p *ngIf="errorSecretRecovery" style="color:#FF0000;">
  CLAVES ERRONEAS INTENTE DE NUEVO
</p>
<p>
    <input class="btn btn-primary" type="submit" value="Recuperar Secreto" (click)="RecoverySecret()"/>
</p>

</div>
