<header>

</header>
<div class="container">

  <h2>Paillier Suma Homomórfica  </h2>
      Partido 1 {{votoPartido1}}: <input class="btn btn-primary" type="submit" value="VOTAR PARTIDO 1" (click)="voto1()"/>
</div>
<p></p>
<div class="container">


      Partido 2 {{votoPartido2}}: <input class="btn btn-primary" type="submit" value="VOTAR PARTIDO 2" (click)="voto2()"/>
</div>
<p></p>
<div class="container">


  Partido 3 {{votoPartido3}}: <input class="btn btn-primary" type="submit" value="VOTAR PARTIDO 3" (click)="voto3()"/>
</div>
<p></p>
<div class="container">
<input class="btn btn-primary" type="submit" value="RECUENTO" (click)="getRecuentoVotos()"/>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Partidos</th>
      <th>Votos</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Partido 1</td>
      <td>{{recuentoPaillierPartido1}}</td>
    </tr>
    <tr>
      <td> Partido 2</td>
      <td>{{recuentoPaillierPartido2}}</td>
    </tr>
    <tr>
      <td> Partido 3</td>
      <td>{{recuentoPaillierPartido3}}</td>
    </tr>
</tbody>
</table>

</div>
