<header>

</header>
<div class="container">

  <h2>Paillier Suma Homomórfica  </h2>
      Partido 1 {{votoPartido1}}: <input class="btn btn-primary" type="submit" value="VOTAR PARTIDO 1" (click)="voto1()"/>
</div>
<p></p>
<div class="container">


      Partido 2 {{votoPartido2}}: <input class="btn btn-primary" type="submit" value="VOTAR PARTIDO 2" (click)="voto2()"/>
</div>
<p></p>
<div class="container">


  Partido 3 {{votoPartido3}}: <input class="btn btn-primary" type="submit" value="VOTAR PARTIDO 3" (click)="voto3()"/>
</div>
<p></p>
<div class="container">
<input class="btn btn-primary" type="submit" value="RECUENTO" (click)="getRecuentoVotos()"/>
</div>
